$accent-one: #f87070;
$accent-two: #70f3f8;
$accent-three: #d881f8;
$light: #d7e0ff;
$light-two: #eff1fa;
$light-three: #e3e1e1;
$dark: #1e213f;
$white: #ffffff;
$dark-var-2: #161932;
$font-one-light: $light;
$overlay-color: #1e213fe3;

$font-one-dark: $dark;

$font-two-dark: $dark-var-2;
$border-color: $light-three;

//backgrounds

$bg-main: $dark;
$bg-dark-2: $dark-var-2;
// $bg-clock-status: $dark-var-2;
$bg-grad-1: #2e325a;
$bg-grad-2: #0e112a;
$bg-shadow-1: #272c5a;
$bg-shadow-2: #121530;
// $bg-inner-circle: $dark-var-2;

$bg-input: $light-two;
